# https://docs.gitlab.com/16.0/ee/user/packages/container_registry/build_and_push_images.html#container-registry-examples-with-gitlab-cicd
build:
  variables:
    docker_version: "20.10.16"
    image: "$CI_REGISTRY/magicaldave1/makron:$CI_COMMIT_TAG"
  image: "docker:${docker_version}"
  stage: "build"
  services:
    - "docker:${docker_version}-dind"
  script:
    - "docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY"
    - "docker build . -t $image"
    - "docker push $image"
  rules:
    - if: "$CI_COMMIT_TAG"
